@charset "ISO-8859-1";

body {
	font-family: Source Sans Pro, 'Calibri';
}

.search-header {
	color: #c38b00;
	font-size: 25px;
	font-weight: bold;
}

#header-title {
	color: grey;
	border-top: dashed 2px grey;
	float: center;
	text-align: center;
}

h2 {
	color: #c38b00;
	margin-left: 30px;
	text-align: center;
}

.fancy-line {
	border: 0;
	height: 0.5px;
	position: relative;
	margin: 0.5em 0;
}

.fancy-line:before {
	top: -0.5em;
	height: 0.5em;
}

.fancy-line:after {
	height: 0.3em;
	top: calc(-0.5em + 1px);
}

.fancy-line:before, .fancy-line:after {
	content: '';
	position: absolute;
	width: 100%;
}

.fancy-line, .fancy-line:before {
	background: radial-gradient(ellipse at center, #009adf 0%, rgba(0, 0, 0, 0)
		75%);
}

#tmk-logo {
	padding-bottom: 100px;
	position: absolute;
	left: 5px;
	top: 15px;
}

.search-text {
	font-size: 27px;
	font-family: 'Arial';
}

.add-text {
	font-size: 27px;
	font-family: 'Arial';
}

#search-broker-header {
	border-bottom-width: 2px;
	border-bottom-color: #009adf;
	border-bottom-style: solid;
}

#add-broker-header {
	border-bottom-width: 2px;
	border-bottom-color: #009adf;
	border-bottom-style: solid;
}

#edit-broker-header {
	border-bottom-width: 2px;
	border-bottom-color: #009adf;
	border-bottom-style: solid;
}

.form1 {
	padding-top: 12px;
}

#editForm {
	margin-top: -30px;
}

button {
	background-color: #009adf;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

.nav ul {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	list-style: none;
	background-color: #f2f2f2;
	text-align: center;
	padding: 0;
	margin-top: 60px;
	border-radius: 15px 15px 15px 15px;
}

.nav li {
	border-right: 2px solid #d3d3d3;
	border-left: 2px solid #d3d3d3;
	border-radius: 3px;
	font-family: Source Sans Pro, 'Calibri';
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}

.nav a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #009adf;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
	color: #fff;
	background-color: #009adf;
}

.nav a.active {
	background-color: #fff;
	color: #c38b00;
	cursor: default;
}

#mandatory-field {
	padding-bottom: 10px;
}

#addLocationButton {
	display: block;
	margin: auto;
	width: 300px;
	margin-top: 20px;
  	background-color: #009adf;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	-moz-box-shadow: 2px 2px 3px 1px #ccc;
	-webkit-box-shadow: 2px 2px 3px 1px #ccc;
	box-shadow: 2px 2px 3px 1px #ccc;
 }
  
#previous-page-button {
 	display: block;
 	position: absolute;
 	top: 20px;
 	left: 25px;
 	margin: auto;
 	width: 90px;
 	height: 30px;
 	margin-top: 20px;
 	background-color: #c38b00;
 	color: white;
 	border: none;
 	border-radius: 4px;
 	cursor: pointer;
 	-moz-box-shadow: 2px 2px 3px 1px #ccc;
	-webkit-box-shadow: 2px 2px 3px 1px #ccc;
	box-shadow: 2px 2px 3px 1px #ccc;
}
 
#previous-page-button:hover {
 	background-color: #b27f00;
}
 
#previous-page-button:active {
 	background-color: #a37400;
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
	box-shadow: inset 0px 0px 5px #c1c1c1;
	outline: none;
}
 
#previous-page-button:after {
 	font-family: "Font Awesome 5 Free";
 	font-weight: 900;
 	content: "\f060";
 	position: absolute;
 	opacity: 0;
 	left: 10px;
 	transition: 0.5s;
}
 
#previous-page-button:hover:after {
 	opacity: 1;
}
 
#search-edit-button {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	background-color: #c38b00;
 	border-radius: 10px;
 	width: 100px; 
 	text-align: center; 
 	font-size: 14px; 
 	font-weight: bold; 
 	color: #ffffff; 
 	cursor: pointer; 
 	border-bottom-width: 1px; 
 	border-bottom-color: #009adf;
 	border-bottom-style: solid;
 	-moz-box-shadow: 2px 2px 3px 1px #ccc;
	-webkit-box-shadow: 2px 2px 3px 1px #ccc;
	box-shadow: 2px 2px 3px 1px #ccc;
}
 
#search-edit-button:hover {
 	background-color: #b27f00;
}
 
#search-edit-button:active {
 	background-color: #a37400;
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
	box-shadow: inset 0px 0px 5px #c1c1c1;
	outline: none;
}
 
#search-edit-button:after {
 	font-family: "Font Awesome 5 Free";
 	font-weight: 900;
 	content: "\f101";
 	position: center;
 	opacity: 0;
 	transition: 0.5s;
}
 
#search-edit-button:hover:after {
 	opacity: 1;
}

@media screen and (min-width: 600px) {
	.nav li {
		width: 320px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.2em;
	}
	.nav li {
		display: inline-block;
		margin-right: -4px;
	}  
	input[type=text], select, textarea {
		display: block;
		width: 300px;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
	}
	input[type=text]:focus {
		border: 1px solid #555;
	}
	input[type=submit] {
		background-color: #009adf;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		-moz-box-shadow: 2px 2px 3px 1px #ccc;
		-webkit-box-shadow: 2px 2px 3px 1px #ccc;
		box-shadow: 2px 2px 3px 1px #ccc;
	}
	input[type=submit]:hover {
		background-color: #017bb2;
	}
	input[type=submit]:active {
		background-color: #00628e;
		-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
		-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
		box-shadow: inset 0px 0px 5px #c1c1c1;
		outline: none;
	}	
	input[type=submit2] {
		background-color: #009adf;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		-moz-box-shadow: 2px 2px 3px 1px #ccc;
		-webkit-box-shadow: 2px 2px 3px 1px #ccc;
		box-shadow: 2px 2px 3px 1px #ccc;
	}
	input[type=submit2]:hover {
		background-color: #94c11e;
	}
	input[type=submit2]:active {
		background-color: #00628e;
		-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
		-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
		box-shadow: inset 0px 0px 5px #c1c1c1;
		outline: none;
	}	
	.container {
		position: relative;
		border-radius: 15px 0px 50px 0px;
		border: solid 1px #CCC;
		-moz-box-shadow: 5px 5px 0px #999;
		-webkit-box-shadow: 5px 5px 0px #999;
		box-shadow: 5px 5px 0px #999;
		background-color: #f2f2f2;
		padding: 20px;
		width: 620px;
		margin-top: 70px;
		padding-bottom: 30px;
		margin: 40px auto;
	}
	.container2 {
		position: relative;
		border-radius: 15px 0px 50px 0px;
		border: solid 1px #CCC;
		-moz-box-shadow: 5px 5px 0px #999;
		-webkit-box-shadow: 5px 5px 0px #999;
		box-shadow: 5px 5px 0px #999;
		background-color: #f2f2f2;
		padding: 20px;
		width: 450px;
		padding-bottom: 30px;
		margin: 70px auto;
	}	
	#validationMessageBox {
		width: 450px;
		height: 30px;
		line-height: 30px;
		margin-top: 70px;
		margin: 70px auto;
		border-radius: 5px;
	}	
	#validationMessageBox .arrow {
		border-style: solid;
		position: absolute;
	}	
	.bottom {
		border-color: #c8c8c8 transparent transparent transparent;
    	border-width: 8px 8px 0px 8px;
    	bottom: -8px;
	}	
	#new-broker-add-button {
		display: flex;
		justify-content: center;
	}
	#brokerAddButton {
		width: 100px;
		font-weight: bold;
	}
	#search-button {
		display: flex;
		justify-content: center;
	}
	#searchButton {
		font-weight: bold;
	}
	.show-button {
		background: #009adf;
	}
	
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
	
table.purpleHorizon {
	background-color: #FFFFFF;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	font-family: 'Inder ', sans-serif;
	color: #666;
	margin-top: 30px;
}
table.purpleHorizon th {
	border: solid black 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
table.purpleHorizon td, table.purpleHorizon th {
	border: 1px solid #B4B4B4;
	padding: 5px 2px;
}
table.purpleHorizon tbody td {
	font-size: 13px;
	font-weight: bold;
	color: #616161;
}
table.purpleHorizon tr:nth-child(even) {
	background: #FFFFFF;
}
table.purpleHorizon thead {
	background: #009ADF;
}
table.purpleHorizon thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #009ADF;
}
table.purpleHorizon thead th:first-child {
	border-left: none;
}
table.purpleHorizon tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background: #009ADF;
	background: -moz-linear-gradient(top, #40b3e7 0%, #19a4e2 66%, #009ADF 100%);
	background: -webkit-linear-gradient(top, #40b3e7 0%, #19a4e2 66%, #009ADF 100%);
	background: linear-gradient(to bottom, #40b3e7 0%, #19a4e2 66%, #009ADF 100%);
	border-top: 5px solid #C38B00;
}
table.purpleHorizon tfoot td {
	font-size: 13px;
}
table.purpleHorizon tfoot .links {
	text-align: right;
}
table.purpleHorizon tfoot .links a {
	display: inline-block;
	background: #C38B00;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
}
